<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>component</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <p>分類：{{selectedCategory}}</p>
        <select v-model="category" multiple>
            <option value="宿泊費">宿泊費</option>
            <option value="食費">食費</option>
            <option value="交通費">交通費</option>
        </select>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
