<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>component</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <p>ご注文をお選び下さい：{{selection}}</p>
        <label>
            <input type="checkbox" v-model="answer" value="ケーキ">ケーキ
        </label>
        <label>
            <input type="checkbox" v-model="answer" value="紅茶">紅茶
        </label>
        <label>
            <input type="checkbox" v-model="answer" value="コーヒー">コーヒー
        </label>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
