<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>component</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <button v-on:click="show = !show">表示を切り替える</button>
        <transition>
            <p v-if="show">
                吾輩は猫である。名前はまだない。<br>
                どこで生まれたかとんと検討がつかぬ。<br>
                何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
            </p>
        </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
