@charset "utf-8";

/* シンプルなフェードイン */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
/* 左からスライドイン */
.slideInLeft-enter-active, .slideInLeft-leave-active {
    transition: opacity 0.5s, transform 0.5s;
}
.slideInLeft-enter, .slideInLeft-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}
.slideInLeft-enter-to, .slideInLeft-leave {
    transform: translateX(0);
}
